---
layout: default
title: snaggled
---
 
<div id="home">
  <ul class="posts">
    {% for post in site.posts limit:1 %}
		{{ post.content }}
    {% endfor %}
 </ul>

  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
  <h1>Github Repositories</h1>
  <div id="repos"></div>
	
  <h1>External Projects2</h1>
  <ul class="posts">
    <li><a href="http://geosack.com">geosack.com</a> - Google Geo-coding caching</li>
    <li><a href="http://packetnode.com">packetnode.com</a> - Emancipate, Evangelize, Revolutionize</li>
  </ul>
</div>